@font-face {
  font-family: MyriadProBold;
  src: url(MyriadPro-Bold.otf);
}

@font-face {
  font-family: MyriadProItalic;
  src: url(MyriadPro-CondIt.otf);
}
a.NavButtons {
  position: relative;
  float: left;
  color: black;
  font-family: MyriadProBold;
  font-style: bold;
  text-decoration: none;
  font-size: 1.7vw;
  z-index: 2;
  margin-top: 2vw;
  margin-left: 6.5%;
}
a.NavButtons:hover {
  color: rgb(216, 71, 25);
}
#TopBar, #TopBar * { transition: all 0.3s ease; }

#TopBar.shrinked {
  padding-bottom: 1.5vw;
}
a.gamecastLinks {
  font-family: MyriadProItalic;
  font-size: 1vw;
  color: white;
}
